.nav {
    display: flex;
    height: 6rem;
    justify-content: center;
    align-items: center;
    background-color: #282828;
    width: 100vw;
    &__menu {
        font-size: 1.6rem;
    }
    &__item {
        display: inline;
    }
    &__link {
        &:visited,
        &:link {
        font-size: 1.6rem;
        margin: 0 2rem 0 2rem;
        font-weight: 600;
        color: white;
        }
        &:hover,
        &:focus {
            color: $link__color--secondary;
        }
    }
}